{% extends 'base.html.twig' %}

{% block title %}Fiches de Frais{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Fiches de Frais</h1>
        <turbo-frame id="form_frame">
            {{ form_start(form, {'attr': {'data-turbo-frame': 'the_frame_fiche'}}) }}
            <div class="form-group">
                {{ form_label(form.mois) }}
                {{ form_widget(form.mois, {'attr': {'class': 'form-control'}}) }}
            </div>
            <br>
            <div class="form-group">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </turbo-frame>
        <br>
        <turbo-frame id="the_frame_fiche">
            {% if ligneFraisForfaits is not empty %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Forfait Etape</th>
                        <th>Frais Kilométrique</th>
                        <th>Nuitée Hôtel</th>
                        <th>Repas Restaurant</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set etape = 0 %}
                        {% set km = 0 %}
                        {% set nuitee = 0 %}
                        {% set repas = 0 %}
                        {% for ligne in ligneFraisForfaits %}
                            {% set etape = etape + (ligne.fraisForfait.libelle == 'Forfait Etape' ? ligne.quantite : 0) %}
                            {% set km = km + (ligne.fraisForfait.libelle == 'Frais Kilométrique' ? ligne.quantite : 0) %}
                            {% set nuitee = nuitee + (ligne.fraisForfait.libelle == 'Nuitée Hôtel' ? ligne.quantite : 0) %}
                            {% set repas = repas + (ligne.fraisForfait.libelle == 'Repas Restaurant' ? ligne.quantite : 0) %}
                        {% endfor %}
                        <td>{{ etape }}</td>
                        <td>{{ km }}</td>
                        <td>{{ nuitee }}</td>
                        <td>{{ repas }}</td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <p>Aucune fiche de frais trouvée pour ce mois.</p>
            {% endif %}
        </turbo-frame>
    </div>
{% endblock %}