{% extends 'base.html.twig' %}

{% block title %}Fiches de Frais{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Fiches de Frais</h1>
        <turbo-frame id="form_frame">
            {{ form_start(form, {'attr': {'data-turbo-frame': 'the_frame_fiche'}}) }}
            <div class="form-group">
                {{ form_label(form.mois) }}
                {{ form_widget(form.mois, {'attr': {'class': 'form-control'}}) }}
            </div>
            <br>
            <div class="form-group">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </turbo-frame>
        <br>
        <turbo-frame id="the_frame_fiche">
            {% if ligneFraisForfaits is not empty %}
                <h2>Éléments forfaitisés</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Type de frais</th>
                        <th>Quantité</th>
                        <th>Montant total (€)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ligne in ligneFraisForfaits %}
                        <tr>
                            <td>{{ ligne.fraisForfait.libelle }}</td>
                            <td>{{ ligne.quantite }}</td>
                            <td>{{ (ligne.quantite * ligne.fraisForfait.montant) | number_format(2, ',', ' ') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>



                <h2>Eléments hors forfait</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Libellé</th>
                        <th>Montant</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ligne in ligneFraisHorsForfaits %}
                    <tr>
                            <td>{{ ligne.date | date('d/m/Y') }}</td>
                            <td>{{ ligne.libelle }}</td>
                            <td>{{ ligne.montant }}€</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </turbo-frame>
    </div>
{% endblock %}