{% extends 'base.html.twig' %}

{% block title %}Fiches de Frais{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Fiches de Frais</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
        <br>

        <pre>{{ ficheFrais|dump }}</pre>

        {% if ficheFrais is not empty %}
            <div class="row">
                {% for fiche in ficheFrais %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">ID : {{ fiche.id|default('N/A') }}</h5>
                                <p class="card-text">
                                    Nb Justificatifs : {{ fiche.nbJustificatifs|default('N/A') }}<br>
                                    Montant Valid : {{ fiche.montantValid|default('0') }}<br>
                                    Date Modif : {{ fiche.dateModif ? fiche.dateModif|date('d-m-Y') : 'N/A' }}<br>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucune fiche de frais trouvée pour ce mois.</p>
        {% endif %}
    </div>
{% endblock %}
