{# templates/fiche_frais/saisir.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Saisir Fiche de Frais{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Renseigner ma fiche de frais du mois {{ datefiche }}</h1>
        <h2>Eléments forfaitisés</h2>
        {{ form_start(formF) }}
        <div class="form-group">
            {{ form_label(formF.forfaitEtape) }}
            {{ form_widget(formF.forfaitEtape, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(formF.fraisKilometrique) }}
            {{ form_widget(formF.fraisKilometrique, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(formF.nuiteeHotel) }}
            {{ form_widget(formF.nuiteeHotel, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(formF.repasRestaurant) }}
            {{ form_widget(formF.repasRestaurant, {'attr': {'class': 'form-control'}}) }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(formF) }}
        <br>
        <h2>Elément hors forfait</h2>
        {{ form_start(formFH) }}
        <div class="form-group">
            {{ form_label(formFH.Date) }}
            {{ form_widget(formFH.Date, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(formFH.libelle) }}
            {{ form_widget(formFH.libelle, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            {{ form_label(formFH.montant) }}
            {{ form_widget(formFH.montant, {'attr': {'class': 'form-control'}}) }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(formFH) }}

    </div>
{% endblock %}